# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file
local.properties

# Log Files
*.log

# Android Studio
.idea/
*.iml
.DS_Store
gradle-wrapper.jar
.gradle
captures/
.externalNativeBuild
.cxx

# Firebase
google-services.json

# Misc
*.swp
*.swo
*~

# Test reports
testResults/
